.app-layout {
  height: 100vh;
}

.app-layout main {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: aqua;
  width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
