.app-layout {
  position: relative;
  padding: 100px 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(
    var(--very-dark-mostly-black-blue),
    hsl(271.43deg 22.58% 18.24%)
  );
}

.app-layout::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/bg-stars.svg);
}
