.cart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.card {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    hsl(236deg 24.13% 21.82%) 50%,
    var(--dark-desaturated-blue) 50%
  );
  color: var(--soft-red);
  font-weight: 700;
  font-size: 45px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0px 10px 0px var(--very-dark-blue);
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--very-dark-blue);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.card::before {
  left: -5px;
}

.card::after {
  right: -5px;
}

.cart-container p {
  color: var(--grayish-blue);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

@media (max-width: 550px) {
  .card {
    width: 80px;
    height: 80px;
    font-size: 30px;
  }
}
