.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: hsl(0, 0%, 98%);
}

.header h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

.header i {
  cursor: pointer;
  font-size: 30px;
}
